body {
    padding: 20px;
    background-color: #1cb371
}

#search-form, .form-control {
    margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

    .cover:hover {
        cursor: pointer;
    }
h1 {
    color: floralwhite;
    font-style: normal;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 2px 2px 2px 2px;
}
h6 {
    color: black;
    font-style: normal;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 2px 2px 2px 2px;
}
